body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FBF8EF;
}
.container1 {
    max-width: 1000px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.container2 {
    max-width: 1000px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.container3 {
    max-width: 1000px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.top-nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #EDD892;
    backdrop-filter: blur(4px);
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}
.top-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.top-nav a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}
.top-nav a:hover {
    color: #f52121;
}

.restaurant-header {
    display: flex;
    align-items: center;
    gap: 20px;
}
.restaurant-header img {
    widt
