@charset "UTF-8";

table { 
	border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
}
th, td {
        border: 1px solid #ffdb5a;
        padding: 10px;
}
th {
        background-color: #fff8e1;
        font-weight: bold;
        text-align: center;
}
td {text-align: left;}
.align_center {text-align: center;}
input[type=text] {
	border: 1px solid #ffdb5a;
}